<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="com.pocketchange.android">
    <uses-sdk android:minSdkVersion="7" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    
    <application
        android:icon="@drawable/icon" 
        android:label="@string/app_name">
        <activity android:name="com.pocketchange.android.DemoApp"
                  android:label="@string/app_name"
				  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pocketchange.android.BankActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="com.pocketchange.android.installer.AcceptPermissionsActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.pocketchange.android.installer.AppInstallActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.pocketchange.android.installer.BackgroundAppInstallActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.pocketchange.android.purchasing.client.PurchasingActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <service android:name="com.pocketchange.android.installer.AppInstallService" />
        <receiver android:name="com.pocketchange.android.installer.AppInstallService$AccountsChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pocketchange.android.installer.AppInstallService$AppInstalledBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.pocketchange.android.purchasing.client.PurchasingReceiverService" />
        <receiver android:name="com.pocketchange.android.purchasing.client.PurchasingReceiver">
            <intent-filter>
                <action android:name="com.pocketchange.android.purchasing.PURCHASING_SUPPORTED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
