<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pocketchange.android.sdkdemo"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16" />
    
    <!-- Pocket Change SDK permissions  -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- End Pocket Change SDK permissions  -->
    
    <application
        android:icon="@drawable/icon" 
        android:label="@string/app_name">
        <activity android:name="com.pocketchange.android.sdkdemo.DemoActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pocket Change SDK rewards components  -->
        <activity
            android:name="com.pocketchange.android.rewards.RewardGrantedActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.pocketchange.android.rewards.ShopActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.pocketchange.android.rewards.WelcomeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask">
        </activity>

        <service android:name="com.pocketchange.android.http.AsyncHttpRequestService" />
        <!-- End Pocket Change SDK rewards components  -->
        
        <!-- Pocket Change SDK products components  -->
        <receiver android:name="com.pocketchange.android.ProductTransactionsReceiver">
            <intent-filter>
                <action android:name="com.pocketchange.android.rewards.NOTIFY_PRODUCT_TRANSACTION" />
            </intent-filter>
        </receiver>
        <!-- End Pocket Change SDK products components  -->
    </application>
</manifest>
