<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2012 Lunch Money Inc.
 *
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pocketchange.android">
    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application>
        <activity
            android:name="com.pocketchange.android.optin.NativeOptInActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="com.pocketchange.android.optin.WebViewOptInActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="com.pocketchange.android.rewards.NotificationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="com.pocketchange.android.rewards.ShopActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>

        <receiver android:name="com.pocketchange.android.PackageDataReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" /> 
            </intent-filter>
        </receiver>

        <service android:name="com.pocketchange.android.http.AsyncHttpRequestService" />
    </application>
</manifest>
